.fieldsetstyle { 
  border:1px solid #CCCCCC;	
padding:5px 5px;
width: 85%;
align:center;
 
}

.legendstyle {
  padding:0.5em 0.5em;
  border:0px solid #CCCCCC;

  }
.content_cover1
{


}


.broadcast_connect_border
{
border-bottom-width:1px;
border-bottom-style:solid;
border-bottom-color:#CCCCCC;

}
